.card-deck{
    padding: 0 30px;
    margin-left: 5px;
}
.card-deck .card{
    border:1px solid white;
    background-color: black;
    color: white;
    border-radius: 0;
}
.card:nth-child(4){
    background-color: gray;
    
}
.card:nth-child(4).card-text{
    font-size: 10px;
    font-weight: 400;
    
}
.card-body .card-text{
    font-size: 15px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 30px;
}